/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/public/mix-manifest.json
/.phpstorm.meta.php
yarn.lock
.composer.lock
/composer.lock
package-lock.json
/modules_statuses.json
_ide_helper.php
_ide_helper_models.php
